/* The tw-radio-container */
.tw-radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio */
.tw-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio */
.tw-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 5rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.tw-radio-container:hover input ~ .tw-radio-checkmark {
  background-color: #ccc;
}

/* When the radio is checked, add a blue background */
.tw-radio-container input:checked ~ .tw-radio-checkmark {
  background-color: #2196f3;
}

/* When the radio is checked, add a blue background */
.tw-radio-container input:disabled ~ .tw-radio-checkmark {
  background-color: #ccc;
}

/* Create the tw-radio-checkmark/indicator (hidden when not checked) */
.tw-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the tw-radio-checkmark when checked */
.tw-radio-container input:checked ~ .tw-radio-checkmark:after {
  display: block;
}

/* Style the tw-radio-checkmark/indicator */
.tw-radio-container .tw-radio-checkmark:after {
  left: 6px;
  top: 6px;
  width: 5px;
  height: 5px;
  border-radius: 2rem;
  background-color: #fff;
}
